<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

   <form action = '/process' method = 'post'>
     Your Name: <input type = "text" name = "name">
     Dojo Location <input type = "text" name = "location">
     Favorite Language <input type = "text" name = "favorite_language">
     Comments (Optional) <textarea name = "comments"></textarea>
     <input type = "submit" value = "Submit">
   </form>

  </body>
</html>
